* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    animation: 4s ease-in-out all;
}

body {
    background-color: #222;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #ccc;
    border: 1px #222 solid;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}